:root {
    --font: 'Manrope', sans-serif;
    --main-content-color: #ffffff;
    --buttons-color: #174cc0;
    --numbers-color: #969698;
    --stroke-color: #b5b5b5;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

body {
    background-color: #1e2226;
    background-size: 100%;
    overflow-x: hidden;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.address {
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 390px;
    padding-left: 13px;
    padding-right: 13px;
    margin: 0 auto;
}

/* STYLE FOR MOBILE DEVICES */
/* ===== HEADER|NAV ===== */
.header {
    padding-top: 12px;
    padding-bottom: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    font-family: var(--font);
    color: var(--main-content-color);
    font-size: 35px;
    font-weight: 400;
    line-height: 1.14;
    margin-right: 77px;
}

.menu__item:not(:last-child) {
    margin-bottom: 0.5px;
}

.menu__link {
    position: relative;
    font-family: var(--font);
    color: var(--main-content-color);
    font-size: 8px;
    font-weight: 400;
    line-height: 1.37;
}

.nav__button {
    background: #1e2226;
    border: 1px solid #ffffff;
    border-radius: 40px;
    width: 96px;
    height: 26px;

    font-family: var(--font);
    color: var(--main-content-color);
    font-size: 7px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    padding: 8px 17px 8px 17px;
    margin-left: auto;
}

.nav__button:focus {
    background-color: #e9e9e9;
    color: #3c3c3c;
    border-color: #e9e9e9;
}

/* ===== HERO ===== */
.main {
    margin-top: -120px;
}

.hero {
    padding-top: 120px;
    padding-bottom: 30px;
    background-image: url(../img/mobile/hero-mobile.svg);
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
}

.hero__title {
    font-family: var(--font);
    color: var(--main-content-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 0.9;
}

.hero__title--rectangle::before {
    content: '';
    display: inline-block;
    border: 4px solid var(--main-content-color);
    width: 76px;
    height: 21px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 100px;
}

.hero__title--last-word {
    display: inline-block;
}

.hero__button {
    width: 92px;
    height: 30px;
    border-radius: 13px;
    background-color: var(--buttons-color);

    font-family: var(--font);
    color: var(--main-content-color);
    font-size: 8px;
    font-weight: 600;
    line-height: 1.37;

    float: right;
    margin-top: 5px;
    margin-right: 74px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.btn__icon {
    display: inline-block;
    width: 6px;
    height: 5px;
    vertical-align: middle;
    margin-left: 3px;
}

.hero__button:focus {
    background: linear-gradient(94.87deg, #b620e0 -22.41%, #0e44fc 103.54%);
}

.hero__description {
    white-space: nowrap;
    margin-top: 25px;
}

.description__item {
    white-space: normal;
    display: inline-block;
    width: 48%;
    vertical-align: top;

    font-family: var(--font);
    color: var(--main-content-color);
    font-size: 9px;
    font-weight: 400;
    line-height: 1.4;
}

.hero__description .description__item:first-child {
    margin-right: 10px;
}

.description__item--left {
    font-size: 9px;
    font-weight: 400;
    line-height: 0.9;
}

/* ===== Separator ===== */
.separator {
    width: 100%;
    max-width: 360px;
    height: 0;
    border-top: 0.4px solid var(--main-content-color);
    margin: 0 auto;
}

/* ===== FEATURES ===== */
.features {
    padding-top: 38px;
    padding-bottom: 40px;
    background-image: url(../img/mobile/features-mobile.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.features__title {
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 0.9;
    margin-bottom: 40px;
}

.features__subtitle {
    display: flex;
    align-items: center;
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    margin-left: 25px;
}

.features__subtitle:nth-child(-n + 2)::after {
    content: '';
    display: block;
    width: 40px;
    border: 0.3px solid #ffffff;
    margin-left: 20px;
    align-self: center;
}

.features__wrapper:last-child .features__subtitle::after {
    display: none;
}

.features__description-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 268px;
    height: 75px;
    border: 0.3px solid #ffffff;
    border-radius: 12px;
    padding: 13px;
    margin-left: 40px;
}

.features__description {
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 400;
    font-size: 9px;
    line-height: 1.4;
    letter-spacing: 0.04em;
}

.features__description-wrapper {
    margin-top: 15px;
}

.features__description-wrapper:nth-of-type(1) {
    margin-bottom: 25px;
}

.features__description-wrapper:nth-of-type(2) {
    margin-bottom: 42px;
}

.features__list {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.features__item {
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
}

.features__item-nmbr {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.3;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.features__item-nmbr-clr {
    color: #a6a6a6;
}

.features__description-last {
    display: block;
    width: 218px;
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 400;
    font-size: 9px;
    line-height: 1.4;
    letter-spacing: 0.04em;
    margin-left: 50px;
}

/* ===== PRICES ===== */
.prices {
    padding-top: 35px;
    padding-bottom: 76px;
    background-image: url(../img/mobile/prices-mobile.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.prices__title {
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 0.9;
    margin-bottom: 24px;
}

.prices__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-right: 15px;
}

.prices__wrapper + .prices__wrapper {
    margin-top: 40px;
}

.prices__wrapper:nth-of-type(2) {
    margin-bottom: 26px;
}

.prices__subtitle {
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 500;
    font-size: 13px;
    line-height: 0.8;
}

.prices__separator {
    width: 40px;
    border: 0.3px solid #ffffff;
}

.prices__button {
    width: 120px;
    height: 30px;
    background: var(--buttons-color);
    border-radius: 13px;
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    text-align: center;
}

.prices__button:focus {
    background: linear-gradient(94.87deg, #b620e0 -22.41%, #0e44fc 103.54%);
}

.prices__description {
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
}

.prices__description-first {
    display: block;
    width: 199px;
    height: 36px;
    margin-left: 25px;
}

.prices__description-second {
    display: block;
    width: 200px;
    height: 48px;
    margin-left: 134px;
}

/* ===== PARTNERS ===== */
.partners {
    padding-top: 40px;
    padding-bottom: 20px;
}

.partners__title {
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 0.9;
    margin-bottom: 36px;
}

.partners__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.partners__item:not(:last-child) {
    margin-right: 7px;
}

.partners__item {
    background-color: var(--main-content-color);
    width: 85px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners__item img {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.partners__item:hover img,
.partners__item:focus img {
    filter: none;
}

/* ===== SERVICES ===== */
.services {
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: url(../img/mobile/services-mobile.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.services__title {
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 0.9;
    margin-bottom: 25px;
}

.services__subtitle {
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 500;
    font-size: 13px;
    line-height: 0.8;
    margin-bottom: 41px;
}

.services__list {
    margin-left: 40px;
    margin-bottom: 31px;
}

.services__item {
    display: flex;
    align-items: center;
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
}

.services__item:not(:last-child) {
    margin-bottom: 20px;
}

.services__item-nmbr {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.3;
    margin-right: 4px;
}

.services__item-nmbr-clr {
    color: #a6a6a6;
}

.services__description-first {
    display: block;
    width: 225px;
    height: 23px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.services__description-second {
    display: block;
    width: 227px;
    height: 36px;
    margin-left: 40px;
}

.services__description {
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
}

/* ===== FEEDBACK ===== */
.feedback {
    padding-top: 38px;
    padding-bottom: 59px;
    background-image: url(../img/mobile/feedback-mobile.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.feedback__title {
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 0.9;
    margin-bottom: 60px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__field {
    width: 150px;
    height: 30px;
    border: 1px solid var(--stroke-color);
    border-radius: 19px;
    background: var(--main-content-color);
    outline: none;
    text-align: center;

    font-family: var(--font);
    color: var(--stroke-color);
    font-weight: 500;
    font-size: 9px;
    line-height: 0.7;

    margin-bottom: 5px;
}

::placeholder {
    font-family: var(--font);
    color: var(--stroke-color);
}

.form__field:focus::placeholder {
    color: transparent;
}

.form__btn {
    width: 150px;
    height: 30px;
    border: var(--stroke-color);
    border-radius: 19px;
    background: var(--buttons-color);
    text-align: center;

    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 500;
    font-size: 8px;
    line-height: 1.37;

    margin-top: 20px;
}

.form__btn:focus {
    background: linear-gradient(94.87deg, #b620e0 -22.41%, #0e44fc 103.54%);
}

/* ===== CONTACT ===== */
.contact {
    padding-top: 50px;
}

.contact__mail {
    display: block;
    text-align: center;
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.35;
    margin: 0 auto;
    margin-bottom: 37px;
}

.contact__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.contact__item {
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
}

.contact__item:not(:last-child) {
    margin-right: 31px;
}

.contact__icon {
    width: 14px;
    height: 16px;
    display: block;
    margin-bottom: 16px;
}

.contact__phone,
.contact__instagram,
.contact__address-link {
    font-family: var(--font);
    color: var(--main-content-color);
    font-weight: 500;
    font-size: 6.5px;
    line-height: 1.2;
}

.contact__address-link {
    vertical-align: top;
    display: inline-block;
}

.contact__phone:not(:last-child) {
    margin-bottom: 5px;
}

/* ===== COPYRIGHT ===== */
.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}

.copyright__text {
    font-family: var(--font);
    font-weight: 300;
    font-size: 4px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.5);
}

/* STYLE FOR TABLETS */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .container {
        max-width: 1024px;
        padding-left: 18px;
        padding-right: 18px;
    }

    /* ===== HEADER|NAV ===== */
    .header {
        padding-top: 11px;
        padding-bottom: 18px;
    }

    .logo {
        font-size: 45px;
        line-height: 1.15;
        margin-right: 323px;
    }

    .menu__item:not(:last-child) {
        margin-bottom: 1px;
    }

    .menu__link {
        font-size: 17px;
        line-height: 1.35;
    }

    .nav__button {
        border: 2px solid;
        border-radius: 40px;
        width: 190px;
        height: 53px;

        font-size: 14px;
        line-height: 1.33;
        padding: 15px 30px 15px 30px;
    }

    .main {
        margin-top: -150px;
    }

    /* ===== HERO ===== */
    .hero {
        padding-top: 150px;
        padding-bottom: 115px;
        background-image: url(../img/tablet/hero-tablet.svg);
        background-size: auto;
        background-position: top;
        background-repeat: no-repeat;
    }

    .hero__title {
        font-size: 115px;
    }

    .hero__title--rectangle::before {
        border: 17px solid;
        width: 220px;
        height: 48px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .hero__button {
        width: 270px;
        height: 83px;
        border-radius: 40px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.35;
        margin-top: 15px;
        margin-right: 150px;
    }

    .btn__icon {
        width: 15px;
        height: 14px;
        margin-left: 7px;
    }

    .hero__description {
        margin-top: 90px;
    }

    .description__item {
        font-size: 25px;
        font-weight: 400;
        line-height: 1.2;
    }

    .hero__description .description__item:first-child {
        margin-right: 25px;
    }

    .description__item--left {
        font-size: 25px;
        font-weight: 500;
        line-height: 0.8;
    }

    .separator {
        max-width: 985px;
        border-top: 1px solid var(--main-content-color);
        margin: 0 auto;
    }

    /* ===== FEATURES ===== */
    .features {
        padding-top: 140px;
        padding-bottom: 140px;
        background-image: url(../img/tablet/features-tablet.svg);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }

    .features__title {
        font-size: 30px;
        line-height: 1;
        margin-bottom: 70px;
    }

    .features__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .features__wrapper + .features__wrapper {
        margin-top: 68px;
    }

    .features__wrapper:last-child {
        margin-top: 200px;
    }

    .features__subtitle {
        font-size: 20px;
        line-height: 0.8;
        margin-left: 45px;
    }

    .features__subtitle:nth-child(-n + 2)::after {
        content: '';
        display: block;
        width: 85px;
        border: 1px solid #ffffff;
        margin-left: 90px;
    }

    .features__description-wrapper:nth-of-type(1) {
        margin-bottom: 0;
    }

    .features__description {
        font-size: 13px;
        line-height: 1.38;
    }

    .features__description-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 443px;
        height: 124px;
        border: 1px solid #ffffff;
        border-radius: 40px;
        padding: 12px 20px;
        margin-right: 38px;
    }

    /* ===== PRICES ===== */
    .prices {
        padding-top: 110px;
        padding-bottom: 116px;
        background-image: url(../img/tablet/prices-tablet.png);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }

    .prices__title {
        font-size: 30px;
        line-height: 1;
        margin-bottom: 25px;
    }

    .prices__subtitle {
        font-size: 20px;
        line-height: 0.8;
    }

    .prices__separator {
        width: 85px;
        border: 1px solid #ffffff;
    }

    .prices__wrapper {
        margin-left: 56px;
        margin-right: 155px;
    }

    .prices__wrapper + .prices__wrapper {
        margin-top: 75px;
    }

    .prices__wrapper:nth-of-type(2) {
        margin-bottom: 70px;
    }

    .prices__button {
        width: 248px;
        height: 75px;
        border-radius: 40px;
        font-size: 20px;
        line-height: 1.3;
    }

    .prices__description {
        font-size: 13px;
        line-height: 1.38;
    }

    .prices__description-first {
        width: 354px;
        height: 36px;
        margin: 0;
        margin-bottom: 15px;
    }

    .prices__description-second {
        width: 326px;
        height: 84px;
        margin: 0;
    }

    .prices__description-wrapper {
        margin-left: 586px;
    }

    /* ===== PARTNERS ===== */
    .partners {
        padding-top: 140px;
        padding-bottom: 150px;
    }

    .partners__title {
        font-size: 30px;
        line-height: 1;
        margin-bottom: 60px;
    }

    .partners__item:not(:last-child) {
        margin-right: 20px;
    }

    .partners__item {
        width: 192px;
        height: 109px;
    }

    /* ===== SERVICES ===== */
    .services {
        padding-top: 150px;
        padding-bottom: 245px;
        background-image: url(../img/tablet/services-tablet.svg);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }

    .services__title {
        font-size: 30px;
        line-height: 1;
        margin-bottom: 60px;
    }

    .services__subtitle {
        font-size: 25px;
        line-height: 1.36;
    }

    .services__item {
        font-size: 13px;
        line-height: 1.38;
    }

    .services__item:not(:last-child) {
        margin-bottom: 30px;
    }

    .services__item-nmbr {
        font-size: 23px;
        line-height: 1.34;
        margin-right: 25px;
    }

    .services__description {
        font-size: 13px;
        line-height: 1.38;
    }

    .services__description-first {
        width: 365px;
        height: 46px;
    }

    .services__description-second {
        width: 294px;
        height: 54px;
    }

    /* ===== FEEDBACK ===== */
    .feedback {
        padding-top: 140px;
        padding-bottom: 200px;
        background-image: url(../img/tablet/feedback-tablet.png);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }

    .feedback__title {
        font-size: 30px;
        line-height: 1;
        margin-bottom: 60px;
    }

    .form__field {
        width: 450px;
        height: 82px;
        border: 2px solid var(--stroke-color);
        border-radius: 40px;

        font-size: 20px;
        line-height: 0.8;

        margin-bottom: 25px;
    }

    .form__btn {
        width: 450px;
        height: 82px;
        border: var(--stroke-color);
        border-radius: 40px;

        font-size: 20px;
        line-height: 1.35;

        margin-top: 25px;
    }

    /* ===== CONTACT ===== */
    .contact {
        padding-top: 84px;
    }

    .contact__mail {
        font-size: 40px;
        line-height: 1.37;
        margin-bottom: 100px;
    }

    .contact__list {
        margin-bottom: 138px;
    }

    .contact__item:not(:last-child) {
        margin-right: 97px;
    }

    .contact__icon {
        width: 21px;
        height: 22px;
        margin-bottom: 58px;
    }

    .contact__phone,
    .contact__instagram,
    .contact__address-link {
        font-size: 13px;
        line-height: 1.1;
    }

    .contact__phone:not(:last-child) {
        margin-bottom: 8px;
    }

    /* ===== COPYRIGHT ===== */
    .copyright {
        padding-bottom: 11px;
    }

    .copyright__text {
        font-size: 8px;
        line-height: 1.37;
    }
}

/* STYLES FOR DESKTOP */
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1360px;
        padding-left: 40px;
        padding-right: 40px;
    }

    /* ===== HEADER ==== */
    .header {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .logo {
        font-size: 50px;
        font-weight: 500;
        line-height: 1.15;
        letter-spacing: 0.03;
        margin-right: 584px;
    }

    .menu__item:not(:last-child) {
        margin-bottom: 1px;
    }

    .menu__link {
        position: relative;
        font-family: var(--font);
        color: var(--main-content-color);
        font-size: 17px;
        font-weight: 500;
        line-height: 1.36;
        letter-spacing: 0.03;
    }

    .menu__link:hover,
    .menu__link:focus {
        color: var(--main-content-color);
    }

    .menu__link:hover:before {
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.6s;
    }

    .menu__link:before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--main-content-color);
        position: absolute;
        left: 0;
        bottom: -1px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.6s;
    }

    .nav__button {
        background: #1e2226;
        border: 2px solid #ffffff;
        border-radius: 40px;
        width: 190px;
        height: 53px;

        font-family: var(--font);
        color: var(--main-content-color);
        font-size: 15px;
        font-weight: 500;
        line-height: 1.36;
        text-align: center;
        padding: 14px 28px 14px 28px;
        margin-left: auto;

        transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav__button:hover,
    .nav__button:focus {
        background-color: #e9e9e9;
        color: #3c3c3c;
        border-color: #e9e9e9;
    }

    /* ===== HERO ===== */
    .main {
        margin-top: -180px;
    }

    .hero {
        padding-top: 210px;
        padding-bottom: 140px;
        background-image: url(../img/desktop/hero-desktop.svg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    .hero__title {
        font-family: var(--font);
        color: var(--main-content-color);
        font-size: 150px;
        font-weight: 700;
        line-height: 0.9;
        margin-bottom: 90px;
    }

    .hero__title--rectangle::before {
        content: '';
        display: inline-block;
        border: 17px solid var(--main-content-color);
        width: 287px;
        height: 75px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 100px;
    }

    .hero__title--last-word {
        display: inline-block;
    }

    .hero__button {
        width: 340px;
        height: 100px;
        border-radius: 40px;
        background-color: var(--buttons-color);

        font-family: var(--font);
        color: var(--main-content-color);
        font-size: 25px;
        font-weight: 500;
        line-height: 1.36;

        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        margin-top: 25px;
        margin-right: 190px;
        position: relative;

        cursor: pointer;
    }

    .btn__icon {
        display: inline-block;
        width: 20px;
        height: 17px;
        vertical-align: middle;
        margin-left: 10px;
    }

    .hero__button:hover,
    .hero__button:focus {
        background: linear-gradient(94.87deg, #b620e0 -22.41%, #0e44fc 103.54%);
    }

    .hero__description {
        white-space: nowrap;
    }

    .description__item {
        white-space: normal;
        display: inline-block;
        width: 48%;
        vertical-align: top;

        font-family: var(--font);
        color: var(--main-content-color);
        font-size: 25px;
        font-weight: 400;
        line-height: 1.2;
    }

    .hero__description .description__item:first-child {
        margin-right: 68px;
    }

    .description__item--left {
        font-size: 35px;
        font-weight: 500;
        line-height: 0.8;
    }

    /* ==== Separator ===== */
    .separator {
        width: 100%;
        max-width: 1280px;
        height: 0;
        border-top: 1px solid var(--main-content-color);
        margin: 0 auto;
    }

    /* ==================== FEATURES ==================== */
    .features {
        background-image: url(../img/desktop/features-desktop.svg);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 140px;
        padding-bottom: 138px;
    }

    .features__title {
        font-family: var(--font);
        color: var(--main-content-color);
        font-weight: 700;
        font-size: 40px;
        line-height: 1;
        margin-bottom: 60px;
    }

    .features__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .features__wrapper + .features__wrapper {
        margin-top: 55px;
    }

    .features__subtitle {
        font-family: var(--font);
        color: var(--main-content-color);
        font-weight: 500;
        font-size: 30px;
        line-height: 0.8;
        margin-left: 65px;
    }
}
